body {
  font-family: "Lora", system-ui, sans-serif;
}

.navigation {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  font-family: "Montserrat";

}

.nav-item {
  flex: 1;
  list-style: none;
}

.nav-header {
  font-size: 1.4em;
  color: #333;
  text-decoration: none;
  text-align: left;
  font-weight: 800;
}

.nav-links {
  text-align: right;
}

.nav-link {
  text-decoration: none;
}

.content {
  margin: 0 20px;
}

