body {
  font-family: "Lora", system-ui, sans-serif;
}

.navigation {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  width: 100%;
  font-family: "Montserrat";
  padding: 20px 12px;
  box-sizing: border-box;
}

.nav-item {
  flex: 1;
  list-style: none;
}

.nav-header {
  font-size: 1.4em;
  color: #333;
  text-decoration: none;
  text-align: left;
  font-weight: 800;
}

.nav-links {
  text-align: right;
}

.nav-link {
  text-decoration: none;
}

.content-main {
  box-sizing: border-box;
  padding: 0px 16px;
}

